<div id="coloring-book" class="info-popup white-popup_coloring-book mfp-hide">
    <div style="min-width: 305px; margin-bottom: 25px; display: flex; flex-direction: column; justify-content: space-around;">
        <div class="img">
            <img src="{{ 'coloring-book2.png' | asset_url }}">
            <div class="coloring-book-price">
                <span class="money">$0.99</span>
                <span class="free">Free</span>
            </div>
        </div>
        <div class="coloring-book_text">
            <p class="header">Coloring Sheet Majestic Wolf</p>
            <p class="subtitle">Get Free! Power Your Creativity!</p>
        </div>
        <div class="coloring-book-subscribe">
            <p>Sign up and get your free PDF file for printing</p>
                <form method="">
                    <input type="email" required name="email" placeholder="Email">
                    <input type="hidden" name="sender" value="mail@m.unidragon.com">
                    <button id="subscribe-button" class="btn hero__btn">Sign up</button>
                </form>
        </div>       
    </div>
</div>

<style>
    .coloring-book-price {
        position: absolute;
        background-color: #fea;
        top: 40px;
        left: 40px;
        padding: 5px 10px;
    }
    .coloring-book-price .money {
        color: red;
        font-size: 18px;
        font-weight: 400;
        text-decoration: line-through;
    }
    .coloring-book-price .free {
        color: #ff6c00;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .white-popup_coloring-book {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 500px;
        margin: 20px auto;
        border-radius: 10px;
        }
    p.header {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        padding-top: 10px;
        }
    p.subtitle {
        font-size: 18px;
        font-weight: 600;
        padding: 20px 25px;
        color: #ff862d;
    }
    .coloring-book-subscribe {
            padding-top: 10px;
    }
    .coloring-book-subscribe form{
        display: flex;
        flex-direction: column;
    }
    .coloring-book-subscribe {
        width: 300px;
        margin: 0 auto;
    }
    .coloring-book_text {
        text-align: center;
    }
</style>

<!-- Magnific Popup core CSS file -->

<link rel="stylesheet" href="{{ 'magnific-popup.css' | asset_url }}">

  <!-- Magnific Popup core JS file -->
  <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}"></script>
  <script src="{{ 'js-cookie.js' | asset_url }}"></script>
<script>
    function showpopup(popupId) {
        console.log('Init showpopup');
        if (!$.cookie('cbPopupShown') && $(popupId).length) {
            $.magnificPopup.open({
                items: {
                    src: popupId,
                    type: 'inline'
                },
                showCloseBtn: true,
                enableEscapeKey: false,
                closeOnContentClick: false,
                closeOnBgClick: true,
                fixedContentPos: true,
            });
            console.log('Popup close has been initiated');
            $.cookie('cbPopupShown', true, { expires: 240 });
    }
}
$('#subscribe-button').on('click',function(e){    
          e.preventDefault();
          $('#subscribe-button').text('Processing...');
            var formdata = $('.coloring-book-subscribe > form').serializeArray();
            var data = {};
            $(formdata ).each(function(index, obj){
                data[obj.name] = obj.value;
            });
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            var raw = JSON.stringify(data);
            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };
            fetch("https://tech.unidragon.com/users/sendpulse", requestOptions)
            .then(result => {
                $('.coloring-book-subscribe').hide(); $('.coloring-book_text').text('Thank you for subscribing. Your coloring book will be sent to you in the first email.');
                })
            .catch(error => {
                console.log('error', error)
                $('.coloring-book_text').text('error');
            });
       });

setTimeout ( showpopup, 25000, '#coloring-book');
</script>