<!-- snippets/faq-block -->
<div class="custom-faq" id="custom-faq">
	<p class="line">FAQ</p>
	<div class="accordion-tax">
    	<span class="accordion-taxes">What forms are the puzzle pieces? Are they in the form of animals?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>*each piece has a unique form. Some (but not all) pieces are made in the form of animals, plants, depending on the puzzle’s motives. Unfortunately, it is not constructively possible to make every detail in the form of an animal or a plant.</p>

      <span class="accordion-taxes">1.1.	What sizes do pieces have in KS, M and S puzzles?</span>
<p>*Our puzzles differ in the number of pieces, so their approximate size in each puzzle is the same.   </p>
	</div>
	<div class="accordion-tax">
    	<span class="accordion-taxes">What does a wooden puzzle mean?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>* the puzzle is made of pressed HDF wood, 3mm thick. This material allows to achieve good quality and durability, it does not deform, does not leave splinters (as can happen with plywood)</p>
	</div>
	<div class="accordion-tax">
    	<span class="accordion-taxes">Why there is no an assembly instruction?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>*Puzzle is not too not too difficult that you cannot cope with it without instructions.
   You will have a sample and a stand for it
</p>
	</div>
	<div class="accordion-tax">
    	<span class="accordion-taxes">How can I select a correct size?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>*Please check our illustration (link / pop-up with an illustration of sizes and a photo with a girl). In addition to the size, pay attention to the estimated assembly time:</p>
        <ul>
          <li>s - \> from 2 hours</li>
          <li>m - \> from 4 hours</li>
          <li>ks - \> from 6 hours</li>
     	</ul>
		<p>Most likely, to assemble KS, you will need several evenings, so it is better to assemble it on a separate table.</p>
	</div>
	<div class="accordion-tax">
    	<span class="accordion-taxes">Whom are the puzzles designed for?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>*A wooden puzzle is a perfect present that may fit absolutely any person. 
You may collect it alone, to abstract from routine. It is a pleasant and useful activity – develops brain and fine motor skills. 
You may collect a puzzle together with your family, children and friends. 
Besides puzzle lovers, our products are purchased by artistic people, lovers of table games, and those who like doing something not difficult with their hands. 
</p>
	</div>
	<div class="accordion-tax">
    	<span class="accordion-taxes">What can I do with the collected puzzle?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>*You may use the puzzle as a decoration of your interior at home. For this purpose, we have developed a special system of sticking (Link). It fits all sizes, with the help of one kit you may stick and place on the wall up to 6 small puzzles, 3 medium puzzles or 3 King Size puzzles. </p>
	</div>
  	<div class="accordion-tax">
    	<span class="accordion-taxes">What if I really want to see a certain animal, but it's not there?</span>
  	</div>
	<div class="panel" style="display: none;">
        <p>* Message care@unidragon.com  - we are happy to see the users’ comments, analyze them and develop new models. </p>
	</div>
</div>
<style>
  .custom-faq .line {
    font-size: 20px;
  }
  .custom-faq{
    width:100%;
    float:left;
    margin-top:5px;
    margin-bottom:25px
  }
  .custom-faq .accordion-tax{
    margin: 10px 0;
    color:#000;
    cursor:pointer;
    width:100%;
    font-weight:400;
    text-transform:uppercase;
    text-align:left;
    border:none;
    outline:0;
    transition:.4s
  }
  .custom-faq .panel{
    background-color:#fff;
    display:none;
    text-align:justify;
    overflow:hidden
  }
  .custom-faq .accordion-tax:after {content:'\02795';
    font-size:13px;
    color:#000;
    float:right;
    margin-left:5px
  }
  .custom-faq .active:after{
    content:"\2796"
  }
</style>

<script>$('.description_spoiler').first().before($('#custom-faq'))</script>