<div class="text-center storyblock"><span class="heading">Inspiring Stories</span></div>
<div id="storyblock"><fw-storyblock channel="{{channel}}" autoplay="true"></fw-storyblock></div>
<script>$(function(){$("#storyblock").height(1.78*$("#storyblock").width()),$(window).resize(function(){$("#storyblock").height(1.78*$("#storyblock").width())})});</script>
