{% for tag in products.tags %}
	{% if forloop.first == true %}<div class="product__labels">{% endif %}
	<span class="product__label product__label--{{ tag | replace: " ", "-"}}">{{ tag }}</span>
	{% if forloop.last == true %}</div>{% endif %}
{% endfor %}