{% include 'config-promo' %}    
<div class="modal fade" id="promo-popup" style="padding-right:0px !important" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="position: relative;padding: 5px 16px 0 16px;">
          <button type="button" onclick="dcmClose()" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body" style="text-align:center">
          <span id="dc_code" style="font-size: 27px;font-family:'Poppins'"></span>
          <span id="dc_promo" style="font-size: 18px;font-family:'Poppins';display:block;"></span>
          <p style="margin:10px;font-size:18px">The discount will be applied automatically in the checkout page</p>
        </div>
        <div style="display: flex;justify-content: center;">
          <button class="btn hero__btn" onclick="dcmClose()" style="min-width: 100%;border-radius: 0 0 5px 5px;border: none;display: block;margin: 15px -1px -1px -1px;outline: none;">Go to product</a>
        </div>
      </div>
    </div>
    </div>
</div>

<style>
  #promo-popup .modal-content {border:none}
  @media only screen and (max-width: 900px) {
  #promo-popup .modal-dialog {
    margin-top: 100px;
  }
	}
</style>
<script>
  const dcmClose = () => {
    $('#promo-popup').modal('hide');
  }
  

  document.addEventListener('DOMContentLoaded', ()=>{
                            
    const promoDoAction = () => {
        const dc = getCookie('discount_code').trim();
        const shouldNotify = dc && promoConfig && Object.keys(promoConfig).map(e=> e.toLowerCase()).indexOf(dc.toLowerCase()) !== -1
        const productPage = location.pathname.indexOf('/products/') !== -1;

        const showDcModal = (code) => {
            document.getElementById('dc_code').textContent = `Promo code ${code}`;
          if (promoConfig[code]) {
            document.getElementById('dc_promo').textContent = promoConfig[code];
          }
          $('#promo-popup').modal('show');
          const d = new Date();
          setCookie('promo_shown', d.getTime(), 0.33333)
        }

        dc && shouldNotify && productPage && showDcModal(dc);
    }
                            
    if (!getCookie('promo_shown')) {
		promoDoAction();
 	} else {
      if (getCookie('promo_shown') === '1') {
      	const dn = new Date();
        setCookie('promo_shown', dn.getTime(), 0.33333)
      }
    }
  
  
  });
  
</script>