<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Fascinating wooden puzzles</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&amp;family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ 'landing.style.min.css' | asset_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#ff7607" />
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#1a1a1a" />
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    {{content_for_header}}
</head>

<body class="page">
    {{content_for_layout}}
    <script src="{{ 'landing.app.min.js' | asset_url }}"></script>
</body>

</html>