{% if section.settings.enable_full_banner %}
 
    <div class="section--fullwidth-banner" id="section--fullwidth-banner">
      <img src="{{section.settings.img | img_url: 'master' }}" alt="" title="">
    </div>
 
  <style>
      .section--fullwidth-banner {
        align-items: center;
        display: flex;
      }
      .section--fullwidth-banner img {
          margin: 0 auto;
          max-width: {{section.settings.img_width}};
      }
  </style>
 
 
{% endif %}
 
{% schema %}
  {
    "name": "Full-width Banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_full_banner",
        "label": "Enable Fullwidth Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Default image"
      },
      {
        "type": "text",
        "id": "img_width",
        "label": "Banner max-width",
        "default": "100%"
      }
    ],
    "presets": [
      {
        "name": "Full-width Banner",
        "category": "Image"
      }
    ]
  }
 
{% endschema %}