<div class="page__wrapper">
    <header class="header page__header">
        <div class="header__container"><img class="header__logo" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x" width="165" height="54" alt="Unidragon" />
            <h1 class="header__title">Fascinating <br>wooden puzzles</h1><img class="header__visual-1" src="assets/img/header/header-visual-1.png" srcset="assets/img/header/header-visual-1.png 1x, assets/img/header/header-visual-1@2x.png 2x" width="286" height="355" alt="" /><img class="header__visual-2" src="assets/img/header/header-visual-2.png" srcset="assets/img/header/header-visual-2.png 1x, assets/img/header/header-visual-2@2x.png 2x" width="266" height="348" alt="" /><img class="header__visual-3" src="assets/img/header/header-visual-3.png" srcset="assets/img/header/header-visual-3.png 1x, assets/img/header/header-visual-3@2x.png 2x" width="297" height="195" alt="" /><img class="header__visual-4" src="assets/img/header/header-visual-4.png" srcset="assets/img/header/header-visual-4.png 1x, assets/img/header/header-visual-4@2x.png 2x" width="101" height="124" alt="" />
        </div>
    </header>
    <main class="page__content">
        <section class="advantages" id="advantages">
            <div class="advantages__container">
                <div class="advantages__row">
                    <div class="advantages__item advantages__item--1">
                        <h2 class="title advantages__title"><span class="color-orange">Advantages</span> of&nbsp;ordering puzzles on&nbsp;our website</h2>
                    </div>
                    <div class="advantages__item advantages__item--2"><img class="advantages__img-discount" src="assets/img/advantages/advantages-discount.svg" width="128" height="52" alt="10%" /><img class="advantages__img" src="assets/img/advantages/advantages-1.png" srcset="assets/img/advantages/advantages-1.png 1x, assets/img/advantages/advantages-1@2x.png 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">You will receive <b>10% bonus points</b> that you can spend on&nbsp;your next purchases</div>
                    </div>
                    <div class="advantages__item advantages__item--3">
                        <div class="advantages__label advantages__label--discount">-40%</div><img class="advantages__img" src="assets/img/advantages/advantages-2.png" srcset="assets/img/advantages/advantages-2.png 1x, assets/img/advantages/advantages-2@2x.png 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text"><b>Special offers</b> and big discounts are only on&nbsp;our website</div>
                    </div>
                    <div class="advantages__item advantages__item--4">
                        <div class="advantages__label advantages__label--new">NEW</div><img class="advantages__img" src="assets/img/advantages/advantages-3.png" srcset="assets/img/advantages/advantages-3.png 1x, assets/img/advantages/advantages-3@2x.png 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">You can find the most complete r&nbsp;ange of&nbsp;<b>new products only on&nbsp;our website</b></div>
                    </div>
                </div>
                <div class="advantages__button-wrapper"><a class="button advantages__button" href="#" role="button">Order on our website</a></div>
            </div><img class="advantages__figure" src="assets/img/decor/figure-5.png" srcset="assets/img/decor/figure-5.png 1x, assets/img/decor/figure-5@2x.png 2x" width="88" height="181" alt="" />
        </section>
        <section class="ordering ordering--en" id="ordering">
            <div class="ordering__container">
                <h2 class="title ordering__title">You can also order our puzzles</h2><img class="ordering__visual" src="assets/img/ordering/ordering-visual.png" srcset="assets/img/ordering/ordering-visual.png 1x, assets/img/ordering/ordering-visual@2x.png 2x" width="370" height="370" alt="" />
                <div class="ordering__items">
                    <div class="ordering__item"><img class="ordering__item-img" src="assets/img/ordering/ordering-amazon.png" srcset="assets/img/ordering/ordering-amazon.png 1x, assets/img/ordering/ordering-amazon@2x.png 2x" width="360" height="157" alt="Amazon" /><a class="button ordering__item-button button--ordering" href="#" role="button"><span class="button__caption">Order on</span><img class="button__img" src="assets/img/ordering/amazon.png" srcset="assets/img/ordering/amazon.png 1x, assets/img/ordering/amazon@2x.png 2x" alt="amazon" /></a></div>
                    <div class="ordering__item"><img class="ordering__item-img" src="assets/img/ordering/ordering-etsy.png" srcset="assets/img/ordering/ordering-etsy.png 1x, assets/img/ordering/ordering-etsy@2x.png 2x" width="360" height="157" alt="Etsy" /><a class="button ordering__item-button button--ordering" href="#" role="button"><span class="button__caption">Order on</span><img class="button__img" src="assets/img/ordering/etsy.png" srcset="assets/img/ordering/etsy.png 1x, assets/img/ordering/etsy@2x.png 2x" alt="etsy" /></a></div>
                    <div class="ordering__item"><img class="ordering__item-img" src="assets/img/ordering/ordering-walmart.png" srcset="assets/img/ordering/ordering-walmart.png 1x, assets/img/ordering/ordering-walmart@2x.png 2x" width="360" height="157" alt="Walmart" /><a class="button ordering__item-button button--ordering" href="#" role="button"><span class="button__caption">Order on</span><img class="button__img" src="assets/img/ordering/walmart.png" srcset="assets/img/ordering/walmart.png 1x, assets/img/ordering/walmart@2x.png 2x" alt="walmart" /></a></div>
                </div>
            </div>
        </section>
        <section class="collection" id="new">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">New</h2><a class="collection__view-all" href="#">View all new items</a>
                </div>
                <div class="collection__items">
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-1.jpg" width="360" height="360" alt="Fiery Fox" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(30 reviews)</span>
                            </div>
                            <div class="c-product__title">Fiery Fox</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-2.jpg" width="360" height="360" alt="Lovely Tiger" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(100 reviews)</span>
                            </div>
                            <div class="c-product__title">Lovely Tiger</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-3.jpg" width="360" height="360" alt="Fairy Bird" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(130 reviews)</span>
                            </div>
                            <div class="c-product__title">Fairy Bird</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                </div>
            </div><img class="collection__leaves-1" src="assets/img/decor/leaves-1.svg" width="272" height="380" alt="" /><img class="collection__figure-1" src="assets/img/decor/figure-1.png" srcset="assets/img/decor/figure-1.png 1x, assets/img/decor/figure-1@2x.png 2x" width="253" height="296" alt="" /><img class="collection__leaves-2" src="assets/img/decor/leaves-2.svg" width="260" height="246" alt="" /><img class="collection__figure-2" src="assets/img/decor/figure-2.png" srcset="assets/img/decor/figure-2.png 1x, assets/img/decor/figure-2@2x.png 2x" width="73" height="211" alt="" /><img class="collection__leaves-5" src="assets/img/decor/leaves-5.svg" width="65" height="117" alt="" />
        </section>
        <div class="collection" id="hits">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Bestsellers</h2><a class="collection__view-all" href="#">View all bestsellers</a>
                </div>
                <div class="collection__items">
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-1.jpg" width="360" height="360" alt="Fiery Fox" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(30 reviews)</span>
                            </div>
                            <div class="c-product__title">Fiery Fox</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-2.jpg" width="360" height="360" alt="Lovely Tiger" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(100 reviews)</span>
                            </div>
                            <div class="c-product__title">Lovely Tiger</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                    <div class="c-product collection__item">
                        <div class="c-product__main">
                            <div class="c-product__image"><img src="assets/img/products/product-3.jpg" width="360" height="360" alt="Fairy Bird" /></div>
                            <div class="c-product__info">
                                <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">5.0</span><span class="c-product__reviews">(130 reviews)</span>
                            </div>
                            <div class="c-product__title">Fairy Bird</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from</span> $29.95</div><a class="button c-product__button" href="#" role="button">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection collection--padding-bottom" id="popular">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Popular collections</h2><a class="collection__view-all" href="#">View all collections</a>
                </div>
                <div class="collection__categories">
                    <div class="c-category collection__category">
                        <figure class="c-category__figure"><a href="#"> <img src="assets/img/categories/category-1.jpg" srcset="assets/img/categories/category-1.jpg 1x, assets/img/categories/category-1@2x.jpg 2x" width="360" height="287" alt="" /></a>
                            <figcaption class="c-category__category">Quezzle</figcaption>
                        </figure><a class="button c-category__button" href="#" role="button">Go to collection</a>
                    </div>
                    <div class="c-category collection__category">
                        <figure class="c-category__figure"><a href="#"> <img src="assets/img/categories/category-2.jpg" srcset="assets/img/categories/category-2.jpg 1x, assets/img/categories/category-2@2x.jpg 2x" width="360" height="287" alt="" /></a>
                            <figcaption class="c-category__category">Wooden jigsaw puzzles animals</figcaption>
                        </figure><a class="button c-category__button" href="#" role="button">Go to collection</a>
                    </div>
                    <div class="c-category collection__category">
                        <figure class="c-category__figure"><a href="#"> <img src="assets/img/categories/category-3.jpg" srcset="assets/img/categories/category-3.jpg 1x, assets/img/categories/category-3@2x.jpg 2x" width="360" height="287" alt="" /></a>
                            <figcaption class="c-category__category">Mandala puzzles</figcaption>
                        </figure><a class="button c-category__button" href="#" role="button">Go to collection</a>
                    </div>
                </div>
            </div><img class="collection__leaves-3" src="assets/img/decor/leaves-3.svg" width="272" height="380" alt="" /><img class="collection__figure-3" src="assets/img/decor/figure-3.png" srcset="assets/img/decor/figure-3.png 1x, assets/img/decor/figure-3@2x.png 2x" width="128" height="135" alt="" /><img class="collection__leaves-4" src="assets/img/decor/leaves-4.svg" width="320" height="320" alt="" />
        </div>
    </main>
    <footer class="footer page__footer">
        <div class="footer__container">
            <div class="footer__section">
                <div class="footer__title">Cooperation</div>
                <div class="footer__links"><a class="footer__link" href="#">PR in USA</a><a class="footer__link" href="#">PR in EU</a></div>
            </div>
            <div class="footer__section">
                <div class="footer__title">Contacts</div><a class="footer__contact" href="mailto:care@unidragon.com"><span class="footer__contact-icon"><svg class="svg-icon svg-icon--mail">
                            <use xlink:href="assets/img/sprite.svg#mail"></use>
                        </svg></span><span class="footer__contact-caption">care@unidragon.com</span></a>
            </div><img class="footer__visual-1" src="assets/img/footer/footer-1.png" srcset="assets/img/footer/footer-1.png 1x, assets/img/footer/footer-1@2x.png 2x" width="360" height="360" alt="" /><img class="footer__visual-2" src="assets/img/footer/footer-2.png" srcset="assets/img/footer/footer-2.png 1x, assets/img/footer/footer-2@2x.png 2x" width="355" height="224" alt="" /><img class="footer__visual-3" src="assets/img/footer/footer-3.png" srcset="assets/img/footer/footer-3.png 1x, assets/img/footer/footer-3@2x.png 2x" width="433" height="175" alt="" />
        </div>
    </footer>
</div>