<div class="index-section">
	{% render 'size-block' %}
</div>
{% schema %}
  {
    "name": "Size block",
    "settings": [],
    "presets": [
      {
        "name": "Size block",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
